<#@ template hostSpecific="false" language="C#" #>
<#@ output extension=".cs" #>

<#@ assembly name="System.Core" #>
<#@ import namespace="System.Reflection" #>

<# 
   // Obtém todas as classes no assembly atual
   Assembly assembly = Assembly.GetExecutingAssembly();
   Type[] types = assembly.GetTypes();
   
   // Gera código para todas as classes encontradas
   foreach (Type type in types)
   {
#>
   public partial class <#= type.Name #>
   {
       // Seu código gerado aqui
   }
<#
   }
#>
